.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black;
    border-radius: 2rem;
}
.logo {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}
.mobmenu {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}
.desktopmenuelistitem {
    margin: 1rem;
    cursor: pointer;
}

.desktopmenuelistitem:hover{
    color: yellow;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid yellow;
}

.desktopmenubtn{
     background-color: white;
     color: black;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0 0rem;
     border-radius: 2rem;

}

.desktopmenuimg{
    object-fit: cover;
    height: 1rem;
    width: 9rem;
    margin:1rem;
}
.active{
    color: yellow;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid yellow;
}
.navmenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listitem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}
.mobmenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
@media  screen and (max-width:720px) {
    .mobmenu{
        display: flex;
    }
    .desktopmenu{
        display: none;
    }
    .desktopmenubtn{
        display: none;
    }
    .logo{
        height: 2rem;
        width: 2rem;
    }
    .mobmenu{
        height: 2rem;
        width: 2rem; 
    }
}